#logOutLogo {
  height: 2rem;
  width: 2rem;
  margin-top: 5px;
  margin-left: 5px;
}
#accountDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
#accountSpan {
  color: #fff;
  font-size: 1rem;
}
.navbar {
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #96ae4d;
  color: #fff;
}
.navbar a {
  display: inline-block;
  font-weight: bold;
  color: gray;
  text-decoration: none;
  padding: 5px 10px;
}
.navbar a:hover {
  cursor: pointer;
  color: whitesmoke;
}
.navbar a.active {
  color: white;
}
