body {
  font-size: 1.2rem;
}
#contentDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#meetingDetailsDiv {
  padding: 20px;
  margin-bottom: 50vh;
}
#meetingDetailsDiv2 {
  width: 40%;
  padding: 5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 50vh;
}

#meetingDetailsDiv label {
  display: block;
  margin-bottom: 5px;
  height: 1.5em;
}
h1 {
  text-align: center;
}
#meetingDetailsDiv2 label {
  display: block;
  margin-bottom: 5px;
  height: 1.5em;
  text-align: center;
}
.details-container {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}

.label-column {
  flex: 0 0 33%;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

.text-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.text-column span {
  margin-bottom: 5px;
  display: block;
}

#calendarDiv {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50vh;
}
#userDetailsDiv {
  display: none;
  justify-content: center;
}

.calendar {
  display: inline-block;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  line-height: 3rem;
}

#calendarControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}
.yearDiv,
.monthDiv {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  font-size: x-large;
}
.yearDiv span,
.monthDiv span {
  width: 50%;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 10px;
}

/* th {
    background-color: #f2f2f2;
} */

td {
  position: relative;
}
td:hover {
  cursor: pointer;
}

.selected-date {
  background-color: #96ae4d;
  color: #fff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

select {
  margin: 10px;
  padding: 5px;
}

.calendar-button {
  background-color: gray;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;

  /* transform: translate(-50%, -50%); */
}
.calendar-button:hover {
  cursor: pointer;
  background-color: darkgrey;
}

#timeDiv {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 50vh;
  height: auto;
  max-height: 40rem;
}

.time-button-row {
  display: flex;
  justify-content: center;
}

#timeDiv button {
  background-color: #96ae4d;
  color: white;
  width: 80%;
  padding: 8px 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  /* border: none; */
  border: double;
  border-color: darkolivegreen;
  /* box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2); */
  /* box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2); */
}

#timeDiv button:hover {
  background-color: #74873b;
  cursor: pointer;
}

.selected-time {
  /* background-color: #5adc96 !important; */
  background-color: #61d694 !important;
  color: #000000 !important;
  box-shadow: none !important;
  border: groove !important;
  border-color: darkolivegreen !important;
}

.gray-out {
  opacity: 0.4;
}
label {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  color: #333;
}

span {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #333;
}

input,
textarea {
  padding: 15px;
  margin-bottom: 25px;
  margin-top: 2px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 16px;
}

textarea {
  min-width: 100%;
  min-height: 6rem;
}
#additionalCommentsDiv {
  margin-right: 1rem;
  margin-left: 1rem;
}

.next-schedule-button {
  margin-left: auto;
  background-color: #96ae4d;
  color: white;
  width: 30%;
  padding: 8px 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: none;
  text-align: center;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
}
.back-button {
  background-color: #96ae4d;
  color: white;
  width: 30%;
  padding: 8px 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: none;
  text-align: center;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
}

.next-schedule-button:hover {
  cursor: pointer;
  background-color: #74873b;
}
.back-button button:hover {
  background-color: #74873b;
  cursor: pointer;
}
#buttonDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

#buttonDiv button:hover {
  background-color: #74873b;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#additionalComments {
  margin-left: auto;
  margin-right: auto;
}
