#contentDiv {
    display: flex;
}

#meetingDetailsDiv {
    width: 30%;
    padding: 20px;
    border: 2px solid green;
}

#meetingDetailsDiv label {
    display: block;
    margin-bottom: 5px;
}
.details-container {
    display: flex;
}

.label-column {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

.text-column {
    flex: 2;
}

.text-column span {
    display: block;
    margin-bottom: 5px;
}

#calendarDiv {
    width: 60%;
    padding: 20px;
    border: 2px solid red;
    height: 100%;
}

.calendar {
    display: inline-block;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: center;
    padding: 10px;
}

/* th {
    background-color: #f2f2f2;
} */

td {
    position: relative;
}

.selected-date {
    background-color: #96AE4D;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

select{
    margin: 10px;
    padding: 5px;
}
button {
    background-color: gray;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
   
    
    /* transform: translate(-50%, -50%); */
}

#timeDiv {
    width: 10%;
    border: 2px solid blue;
}