#eventContainers {
    display: flex;
    flex-wrap: wrap;
}
/* .eventContainer {
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
} */

.eventContainer {
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    border: 0px solid var(--event-color, black);
    border-radius: 8px;
    /* box-shadow: 0px 0px 5px 5px var(--event-color, black); */
    box-shadow: 0px 0px 100px 2px var(--event-color, black) inset, 0px 0px 5px 2px var(--event-color, black);
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); */
}

.container-row {
    width: 100%;
}

.button-div {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.eventContainer button {
    width: 110px;
    height: 30px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    background-color: transparent;
    color: var(--event-text-color, black);
    border-width: 0px;
    border-color: var(--event-color, black);
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 0px 2px 0px var(--event-color, black);
}
.eventContainer button:hover {
    cursor: pointer;
    background-color: whitesmoke;
    /* box-shadow: 0px 0px 10px 2px var(--event-color, black) inset, 0px 0px 1px 1px var(--event-color, black); */
}

/* #overlay {
    position: fixed;
    top: 400;
    left: 0;
    width: 10%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.5); 
    pointer-events: none; 
    display: none;
} */
