#contentDiv {
  display: flex;
  flex-direction: column;
}
.card {
  width: 50%;
  margin: 2rem 0rem 0rem 2rem;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

#headRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#userDetailsDiv {
  display: flex;
  flex-direction: column;
}

#userDetailsDiv label {
  margin-bottom: 1px;
  margin-top: 10px;
  font-weight: bold;
  color: var(--text-color-black);
}

#userDetailsDiv input {
  margin-bottom: 1px;
  margin-top: 10px;
  color: var(--text-color-black);
}

#editButton {
  transform: scale(1.5);
}

#editButton {
  border: none;
  background-color: var(--card-color);
  height: fit-content;
}

#editButton:hover {
  transform: scale(2);
  cursor: pointer;
}

#resetPasswordButton {
  color: var(--on-primary);
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-shadow);
  padding: 8px 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#resetPasswordButton:hover {
  background-color: var(--primary-btn-hover-color);
}

#buttonDiv {
  margin-top: 10px;
}
.cancel-button {
  background-color: var(--error-color-600);
  color: var(--on-primary);
  padding: 8px 40px;
  border-radius: var(--button-border-radius);
  border: none;
  box-shadow: var(--button-shadow);
  cursor: pointer;
}

.cancel-button:hover {
  background-color: var(--error-color);
}

.save-button {
  background-color: var(--primary-color);
  color: var(--on-primary);
  padding: 8px 40px;
  border-radius: 8px;
  border: none;
  box-shadow: var(--button-shadow);
}

.save-button:hover {
  background-color: var(--primary-btn-hover-color);
  cursor: pointer;
}

#errorDiv {
  color: var(--error-color-500);
}
