#footerDiv {
  margin-top: auto;
  display: flex;
  align-items: center;
}

.footer {
  height: 80px;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--on-primary);
  text-align: center;
}
