.footer {
  position: absolute;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--on-primary);
  text-align: center;
}
/* #footerDiv { */
/*     margin-top: 80px; */
/* } */
