/* Styling for the form */
.modern_form h1 {
  color: var(--text-color-black);
}

.modern_form {
  max-width: 400px;
  min-width: 400px;
  padding: 30px;
  background-color: var(--card-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  text-align: left;
}

/* Style for labels */
.modern_form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--text-color-black);
}

/* Style for inputs */
.modern_form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: var(--input-border-radius);
  box-shadow: var(--input-shadow);
  box-sizing: border-box;
  font-size: 16px;
}

.modern_form input[type="password"] {
  /* Your existing properties */
  border: none; /* Example border color */
}

/* Style for the submit button */
.modern_form button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: var(--button-border-radius);
  background-color: var(--primary-color);
  color: var(--on-primary);
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modern_form button:hover {
  background-color: var(--primary-color-900);
}

/* Style for select element */
.modern_form select {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: var(--input-shadow);
  box-sizing: border-box;
  font-size: 16px;
  color: var(-text-color-black); /* Text color */
}

/* Style for select arrow */
.modern_form select::after {
  content: "\25BC"; /* Unicode for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--text-color-black);
}
