body {
  margin: 0;
  padding: 0;
}
/* #loginDiv {
    width: 100%;
    height: 4rem;
    background-color: #96AE4D;
    color: white;
    text-align: center;
    
} */

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#createForgot {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px; /* Adjust margin as needed */
}

#createForgot a {
    flex: 1; /* Occupy available space equally */
    text-align: center; /* Center-align text within each link */
    /* Additional styles for the links */
}

#createForgot a:first-child {
    margin-right: auto; /* Pushes the first link to the left */
}

#createForgot a:last-child {
    margin-left: auto; /* Pushes the last link to the right */
}

/* Styling for the form */
.modern_form {
    max-width: 400px;
    padding: 30px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Style for labels */
.modern_form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

/* Style for inputs */
.modern_form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font-size: 16px;
}

/* Style for the submit button */
.modern_form button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #96AE4D;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modern_form button:hover {
    background-color: #3C4530;
}
