#loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 13rem);
}

#createForgot {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

#createForgot p,
a {
  flex: 1;
  text-align: center;
}

#createForgot a:first-child {
  margin-right: auto; /* Pushes the first link to the left */
}

#createForgot a:last-child {
  margin-left: auto; /* Pushes the last link to the right */
}
