:root {
  /* Main Colors*/
  --primary-color: #96ae4d; /* the primary color is the 600 value*/
  --primary-color-900: #4d652b;
  --primary-color-800: #6e873b;
  --primary-color-700: #819a43;
  --primary-color-500: #a6be55;
  --primary-color-400: #b3c76d;
  --primary-color-300: #c0d187;
  --primary-color-200: #d2dea9;
  --primary-color-100: #e4ebca;
  --primary-complimentary: #654dae;
  --primary-analogous: #ae964d;
  --primary-analogous-2: #65ae4d;
  --primary-triadic: #4dae65;
  --primary-triadic-2: #4d96ae;
  --primary-variant: #abbf6f;
  --error-color: #b00020;
  --error-color-600: #de2839;
  --error-color-500: #ed323b;

  --on-primary: #ffffff;

  /* Navbar Variables*/
  --navbar-bg-color: #3c452f;

  /* Text */
  --text-color-black: #313131;

  /* Card Variables*/
  --card-color: #f7f7f7;
  --card-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  --card-border-radius: 16px;

  /* Inputs */
  --input-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  --input-border-radius: 8px;

  /* Buttons */
  --button-border-radius: 8px;
  --button-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
  --primary-btn-hover-color: var(--primary-color-900);

  /* Modal */
  --modal-bg-color: rgba(0, 0, 0, 0.5);
}
/*
* https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors
*/

body {
  margin: 0px;
}
.center_content {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}
.content {
  margin-top: 75px;
  margin-bottom: 55px;
}
.flex-wrap {
  display: flex;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.error-message {
  color: var(--error-color);
}
.card {
  background-color: var(--card-color);
  padding: 1rem;
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
}

.moving-card {
  transition: transform 0.3s ease;
}
.preserve-3d-container {
  perspective: 1000px; /* Adjust perspective value as needed */
  transform-style: preserve-3d; /* Maintain crispness of child elements */
}
