#navbar {
    height: 8rem;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #404434;
    color: white;
    width:100%;
    line-height: 0.5rem;
    text-align: center;
    font-size: 2.5rem;
}

#navbarDiv {
    margin-bottom: 8rem;
}

#navbarLasalleLogo {
    height: 6rem;
    float: left;
    padding-top: 0.9rem;
    padding-left: 1rem;
}
#calendarImg {
    height: 3rem;
    float: right;
    vertical-align: top;
    padding-top: 1rem;
    padding-right: 1rem;
}

@media screen and (max-width: 1500px) {
    #navbar {
        font-size: 1.5rem;
        line-height: 2;
    }
}
@media screen and (max-width: 1000px) {
    #navbar {
        font-size: 1.2rem;
        line-height: 2.5;
    }
}
@media screen and (max-width: 850px) {
    #navbar {
        font-size: 1rem;
        line-height: 3;
    }
}
/* #navbarHeadline {
    line-height: 8rem;
    text-align: center;
    font-size: 2.5rem;
} */