main {
  min-height: 100vh;
}
table {
  border-collapse: collapse;
}
#outerTable {
  width: 90%;
}
#innerTable {
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
}

th {
  background-color: #f2f2f2;
}
.green-background {
  background-color: #96ae4d;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
#innerTable tr:nth-child(odd) {
  /* background-color: #f9f9f9; */
  background-color: #c9c7c7;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:hover {
  text-decoration: underline;
}

#tableHeader {
  text-align: left;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  border-radius: 10px;
  margin: 15% auto;
  width: 30%;
}
.modal-content button {
  width: auto;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #96ae4d;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.top {
  background-color: #96ae4d;
  border-radius: 10px 10px 1px 1px;
  color: white;
  text-align: center;
  padding: 1px;
  margin-bottom: 10px;
}
.details-container {
  display: flex;
}
.label-column {
  flex: 1;
  margin-right: 20px;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: right;
}

.text-column {
  flex: 2;
}
.text-column span {
  display: block;
  margin-bottom: 5px;
  font-size: 1.5rem;
}
#meetingDetailsDiv {
  padding: 0px 20px 20px;
}
#meetingDetailsDiv label {
  display: block;
  margin-bottom: 5px;
}
#modalButtonsDiv {
  padding: 0px 20px 20px 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
#confirmCancel {
  background-color: red;
}
#confirmCancel:hover {
  background-color: darkred;
}

.custom-checkbox {
  display: flex;
  align-items: center;
}

.checkbox-input {
  margin-left: -5px;
  margin-right: 10px;
  font-size: 1.5rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
input[type="checkbox"] {
  accent-color: #96ae4d;
}

.checkbox-label {
  font-size: 1rem;
  margin-bottom: 0px !important;
}
